<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Add user</title>
  </head>
  <body>
      <form action="{{ url_for('useradd')}}" method="post">
          <h5>Enter the user details</h5>
          <div>
              <input type="text" name="username" placeholder="username">
          </div>
          <div>
              <input type="text" name="password" placeholder="password">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
      <hr></hr>

  </body>

</html>